/* Img module
================

All image styles.
*/
div #start {
    position: relative;

    img {
        filter: brightness(35%);
        width: 100vw;
    }

    .start-text {
        position: absolute;
        left: 15%;
        top: 13%;
        height: 24%;
        // width: 350px;
        text-transform: uppercase;
        color: white;
        // background: #00000094;
        // padding: 10px;
        text-align: left;
        font: "Gotham Pro Bold";
    }
}
