/* Img module
================

All image styles.
*/
img {
    div .darkened-image > & {
        filter: brightness(35%);
    }

    div .full-width > & {
        width: 100vw;
    }
}

// .main-content {

// }

.bottom-left {
    display: inline-block;
    color: #fff;
    position: absolute;
    bottom: 15vh;
    left: 10vw;
}

.p-0 {
    padding: 0;
}
