@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro.ttf');
}

@font-face {
    font-family: 'Gotham Pro Light';
    src: url('fonts/GothamPro-Light.ttf');
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('fonts/GothamPro-Medium.ttf');
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('fonts/GothamPro-Bold.ttf');
}

@font-face {
    font-family: 'Gotham Pro Black';
    src: url('fonts/GothamPro-Black.ttf');
}

/* Accept fonts */
body {
    font-family: 'Gotham Pro' !important;
}

.gotham-light {
    font-family: 'Gotham Pro Light'
}

.gotham-medium {
    font-family: 'Gotham Pro Medium'
}

.gotham-bold {
    font-family: 'Gotham Pro Bold'
}

.gotham-black {
    font-family: 'Gotham Pro Black'
}

.fs-18 {
    font-size: 18 !important;
}