/* Reset module
==================

Clear some default styles
*/
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

/* Fonts module
==================

All font styles.

Loaded fonts:
- Gotham Pro
- Gotham Pro Light
- Gotham Pro Medium
- Gotham Pro Bold
- Gotham Pro Black
*/
@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro.ttf");
}

@font-face {
    font-family: "Gotham Pro Light";
    src: url("fonts/GothamPro-Light.ttf");
}

.gotham-light {
    font-family: "Gotham Pro Light";
}

@font-face {
    font-family: "Gotham Pro Medium";
    src: url("fonts/GothamPro-Medium.ttf");
}

.gotham-medium {
    font-family: "Gotham Pro Medium";
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url("fonts/GothamPro-Bold.ttf");
}

.gotham-bold {
    font-family: "Gotham Pro Bold";
}

@font-face {
    font-family: "Gotham Pro Black";
    src: url("fonts/GothamPro-Black.ttf");
}

.gotham-black {
    font-family: "Gotham Pro Black";
}

/* Accept fonts */
* {
    font-family: "Gotham Pro";
}

.fs-18 {
    font-size: 18 !important;
}

/* Img module
================

All image styles.
*/
div .darkened-image>img {
    filter: brightness(35%);
}

div .full-width>img {
    width: 100vw;
}

.bottom-left {
    display: inline-block;
    color: #fff;
    position: absolute;
    bottom: 15vh;
    left: 10vw;
}

.p-0 {
    padding: 0;
}